html, body {
  height: 100%;
  background-color: #e4fcf1e7;
}

h3 {
  opacity: 0.8;
}

.navbar-brand {
  font-size: 30px;
  padding-left: 15px;
  font-weight: 300px;
}

header {
  height: 71px;
  margin-bottom: 20px;
}

#header {
  color: #f7e4c7e0;
}
/* #cff5e3e7 */

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 10px;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.fa-list-check {
  color: #f7e4c7e0;
  font-size: 26px;
}

.footer-form {
  display: flex;
  flex-direction: row;
}

#button {
  padding-left: 6px;
}

.bg-dark {
  background-color: #343a40 !important;
}

.main {
  position: absolute;
  top: 75px;
  display: flex;
  justify-content: center;
  height: calc(100% - 146px);
  width: 100%;
}

.wrapper {
  width: calc(100% - 10px);
  height: calc(100% - 6px);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px solid rgba(194, 226, 187, 0.664);
  padding: 29px;
  box-shadow: -5px 4px 28px 2px rgba(0,0,0,0.2) inset, 
    -5px 4px 28px 2px rgb(228, 252, 241) inset;
  border-radius: 10px;

}

section {
  width: 100%;
}

footer {
  border-top: 1px solid rgb(155, 157, 159, 0.4);
}

.footer{
  z-index: 10;
}

.bg-light {
  background-color: rgb(52, 58, 64, 0.8) !important;
  
}

.form-check-input {
  border: 1px solid rgb(179, 119, 0, 0.6) !important;
}


.form-check-input:checked {
  background-color: #00cc99;
  border: 1px solid #198754 !important;
}

#task {
  width: 100%;
  padding: 15px 0;
  position: relative;
  font-size: 23px;
}

label {
  user-select: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 5px;
  justify-content: center;
}

div#line2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.468);
}

div#line {
  display: flex;
  justify-content: center;
}

#completed {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 10px;
}

hr {
  margin: 0 !important;
}

#btn {
  margin-left: 5px;
}

.btn-group-sm>.btn, .btn-sm {
  font-size: 0.8rem;
}

.btn-outline-warning {
  color: #cc9900;
  border-color: #cc9900;
}

@media (max-width: 405px) {
  .navbar-brand {
    font-size: 20px;
    padding-left: 10px;
  }
  .fa-list-check {
    font-size: 18px;
  }
  .main {
    top: 0;
    position: relative;
    height: calc(90vh - 75px);
  }
  header {
    margin: 0;
    height: 62px;
  }
  .btn-group-sm>.btn, .btn-sm {
    font-size: 0.6rem;
  }
  h3 {
    font-size: 18px;
  }
}
